body {
    margin: 0;
    padding: 0;
    background-image: url(images/concrete_seamless.png);
}

ul {
    margin: 0;
    text-align: right;
    padding: 0;
}


/*select all anchor tags for nav bar*/

a {
    color: grey;
    text-decoration: none;
}


/*Navigation*/

nav.navigation {
    border-bottom: 2px solid;
    border-color: #cccccc;
    background-color: white;
    padding: 0px 250px 30px 50px;
}

nav.navigation li {
    list-style: none;
    display: inline-block;
    text-align: right;
    vertical-align: bottom;
    width: 3%;
    padding: 40px 20px 0 0;
}



/*Logo*/

.logo {
    position: absolute;
    padding: 11px 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0px 0 15px 180px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}


/*Middle Left Section*/

#about {
    overflow: auto;
    background-color: #ffffff;
    width: 560px;
    height: 350px;
    float: left;
    padding: 30px 40px 50px 49px;
    margin: 50px 20px 50px 230px;
    font-family: 'Arial';
    line-height: 30px;
    border: 1px solid;
    border-color: lightgrey;
}


h2 {
    color: #4aaaa5;
    border-bottom: 2px solid;
    border-color: #cccccc;
    font-family: 'Georgio';
}


/*Profile Image*/

img {
    height: 160px;
    width: 180px;
    float: left;
    margin-right: 50px;
}


/*Middle Right Section Icons*/

.connect {
    background-color: #ffffff;
    height: 150px;
    width: 190px;
    float: right;
    padding: 30px 50px 0px 29px;
    margin: 55px 250px 0 0;
    border: 1px solid;
    border-color: lightgrey;
    font-size: 14px;
    text-align: center;
}


.icons {
    float: right;
    position: relative;
    right: 70px;
}

.github img {
    height: 55px;
    width: 55px;
}

.linkedin img {
    height: 50px;
    width: 50px;
    left: 60px;
    bottom: 50px;
    position: relative;
}

.stackoverflow img {
    height: 50px;
    width: 55px;
    left: 120px;
    bottom: 100px;
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/*Footer*/

#copyright {
    background-color: #696969;
    height: 100px;
    bottom: 0;
    width: 100%;
    position: absolute;
    margin-top: 500px;
    border-top: 10px solid;
    border-color: #4aaaa5;
}

#copyright p {
    font-size: 16px;
    text-align: center;
    padding: 20px;
    color: lightgrey;
}




/*Contact Page*/

#contact {
    overflow: auto;
    background-color: #ffffff;
    width: 560px;
    height: 450px;
    float: left;
    padding: 30px 40px 50px 49px;
    margin: 50px 20px 50px 230px;
    border: 1px solid;
    border-color: lightgrey;
}


/*Form*/

.contactForm input {
    width: 100%;
    height: 30px;
}

.contactForm textarea {
    width: 100%;
}

.contactForm button {
    background-color: #4aaaa5;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}



/*Portfolio Page*/

#portfolio {
    overflow: auto;
    background-color: #ffffff;
    width: 560px;
    height: 540px;
    float: left;
    padding: 30px 40px 50px 49px;
    margin: 50px 20px 50px 230px;
    border: 1px solid;
    border-color: lightgrey;
}

#portfolio img {
    height: 150px;
    width: 230px;
    float: left;
}

#portfolio p {
    background-color: #4aaaa5;
    color: #ffffff;
    z-index: 1;
    position: absolute;
}


/*Portfolio Pictures*/

.portfolio .hangman p {
    padding: 10px 84px;
    float: left;
    left: 280px;
    top: 320px;
}

.portfolio .game p {
    padding: 10px 79px;
    left: 560px;
    top: 320px;
}

.portfolio .trivia p {
    padding: 10px 75px;
    left: 280px;
    top: 470px;
}


.portfolio .widget p {
    padding: 10px 50px;
    left: 560px;
    top: 470px;
}


.portfolio .rock p {
    padding: 10px 50px;
    float: left;
    left: 280px;
    top: 620px;
}